- provide :title, (t '.title')

h3
  = t '.title'

= current_user.name
br
= current_user.email

= link_to '編集', edit_user_path(current_user)
br

= link_to '削除', user_path(current_user), method: :delete, data: { confirm: (t '.dialog') } unless current_user.admin?