- provide :title, (t '.title')

h3
  = t '.title'
h4
  = '投稿一覧'

= render 'shared/search_form', q: @q, url: user_mypages_path(current_user)

= sort_link(@q, :created_at, '作成順', default_order: :desc)

= render 'posts/post', posts: @posts

= paginate(@posts)