/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
// ヒーロー要素
.container-fluid {
  background-image: image-url("mh.jpeg");
  padding-bottom: 30px;
  padding-top: 30px;
}
// ボディの背景
.background {
  background-image: image-url("washi-2.jpeg");
  padding-bottom: 300px;
}
// タイトル
.title-name {
  font-size: 50px;
  color: white; 
}
// タイトル
.title-name2 {
  color: white;
}
// htmlのbody全体に英雄行書を適用
html, body {
  font-family: "英椎行書";
  font-style: oblique;
}
// リンクなどの文字色を変更
.top-menu, .signup-menu, .login-menu, .reset-password, .post-title, .post-menu, .mypage-menu, .logout-menu, .user-menu, .armor-menu, .notification-menu, .notification-menu, .terms-menu, .privacy-menu, .create-search, .edit-link, .destroy-link, .admin-destroy-link, .armor-link, .likes-button {
  color: black;
}
// 各ページのタイトルの位置を調整
h3.text-center, h2.text-center {
  padding-top: 30px;
}

.post-menu {
  margin-left: 30px;
}
// 
.mx-auto {
  width: 200px;
}
// フォームの入力欄
.form-field {
  border-radius: 10px;
  box-shadow: 2px 2px 4px -2px gray inset;
  width: 250px;
}
.password-field {
  border-radius: 10px;
  box-shadow: 2px 2px 4px -2px gray inset;
  width: 250px;
}
// フォームのボタン配置
.actions.text-center {
  padding-top: 10px;
}
// 検索機能のフォームの配置
.search-form {
  width: 130px;
}
// 投稿情報の配置
.card {
  width: 320px;
  margin: 10px;
  padding-bottom: 10px;
  background-color: #fffaf0;
}
// headerの背景色
header {
  background-image: image-url("washi-2.jpeg");
}
// footerの背景色
footer {
  background-image: image-url("washi-2.jpeg");
  bottom: 0;
  
  .notification-menu, .terms-menu, .privacy-menu {
    padding: 10px 10px;
  }
}
// フラッシュメッセージの背景・色を変更
.alert-success, .alert-danger {
  background-image: image-url("washi-2.jpeg");
  color: black;
  text-align: center;
}
// passwordの入力欄だけフォントを変更
.password-field {
  font-family: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
"Yu Gothic UI", "MS PGothic", sans-serif;
}

// 装備詳細画面の装備と着彩をひとまとめにしている
.post-show {
  width: 500px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  // 着彩1、着彩2の配置を指定
  table.first-color, table.second-color {
    width: 130px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
  }
  // 装備の配置を指定
  table.armors {
    width: 200px;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 50px;
  }
}
// 投稿ページの性別とタイトルを横並びにする
.form-style {
  display: inline-flex;

  .gender-field {
    margin-left: 100px;
  }

  .title-field {
    margin-left: 40px;
  }
}

.form-groups {
  width: 80%;
  display: inline-flex;

  .form-armor {
    width: 30%;
    margin-left: auto;
  }

  .first-color-form {
    width: 25%;

    .color-fields {
      display: inline-flex;
    }
  }
  
  .second-color-form {
    width: 25%;

    .color-fields {
      display: inline-flex;
    }
    
  }
} 

// colorの入力フォームの設定
input[type="number"] {
  width: 50px;
  border-radius: 5px;
}

// 投稿フォームの画像の配置
.top-image {
  margin: 50px 50px;
}
// 装備の選択欄
.armor-field {
  height: 25px;
}
// .first-color-labelと.second-color-labelをグループ化
.color-name-label {
  display: flex;
}
// 着彩1、色相などのラベル
.first-color-label {
  margin-left: 31%;
  font-size: 16px;
}
// 着彩2、色相などのラベル
.second-color-label {
  margin-left: 25px;
  font-size: 16px;
}

table.user-show {
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.armor-list {
  display: inline-flex;
}

.head-armor-list, .body-armor-list, .arm-armor-list, .waist-armor-list, .foot-armor-list {
  width: 200px;
}
// admin/postsの一覧でのカードの表示部分の調整
.admin-destroy-link {
  margin-left: 3px;
  margin-right: 3px;
}

.likes-button {
  float: right;
}
