/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

@import "bootstrap";
// ヒーロー要素
.container-fluid {
  background-image: image-url("mh.jpeg");
  padding-bottom: 30px;
  padding-top: 30px;
}
// ボディの背景
.background {
  background-image: image-url("washi-2.jpeg");
  padding-bottom: 100px;
}
// タイトル
.title-name {
  font-size: 50px;
  color: white; 
}
// タイトル
.title-name2 {
  color: white;
}
// htmlのbody全体に英雄行書を適用
html, body {
  font-family: "英椎行書";
  font-style: oblique;
}
// リンクなどの文字色を変更
.top-menu, .signup-menu, .login-menu, .reset-password, .post-title, .post-menu, .mypage-menu, .logout-menu, .user-menu, .armor-menu, .notification-menu, .notification-menu, .terms-menu, .privacy-menu, .create-search {
  color: black;
}
// 各ページのタイトルの位置を調整
h3.text-center, h2.text-center {
  padding-top: 30px;
}
// 
.mx-auto {
  width: 200px;
}
// フォームの入力欄
.form-field {
  border-radius: 10px;
  box-shadow: 2px 2px 4px -2px gray inset;
  width: 250px;
}
// フォームのボタン配置
.actions.text-center {
  padding-top: 10px;
}
// 検索機能のフォームの配置
.search-form {
  width: 130px;
}
// 投稿情報の配置
.card {
  width: 320px;
  margin: 10px;
  padding-bottom: 10px;
  background-color: #fffaf0;
}
// headerの背景色
header {
  background-image: image-url("washi-2.jpeg");
}
// footerの背景色
footer {
  background-image: image-url("washi-2.jpeg");
  
  .notification-menu, .terms-menu, .privacy-menu {
    padding: 10px 10px;
  }
}
// フラッシュメッセージの背景・色を変更
.alert-success, .alert-danger {
  background-image: image-url("washi-2.jpeg");
  color: black;
  text-align: center;
}
// passwordの入力欄だけフォントを変更
.password-field {
  font-family: "Meiryo UI", "Hiragino Sans", "Hiragino Kaku Gothic ProN",
"Yu Gothic UI", "MS PGothic", sans-serif;
}
